.cart {
    margin: 80px 20px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .item:nth-child(2) {
    border-top:  1px solid #C4C4C4;
    border-bottom:  1px solid #C4C4C4;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn{
    display: inline-block;
    Cursor: pointer;

    color: red;

    width: 18px;
    height: 17px;
  }

  .image {
    margin-right: 50px;
  }
   
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

.order-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid black;
}