.debug{
    border: red dashed 2px;
}

body{
    background: #EBEBEB;

    margin: 0;
    padding: 0;
}

h1{
    font-size: 36px;
}

ul{
    margin: 0;
    padding: 0;

    list-style-type: none;
}




.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*width: 100%;*/

    background: #909090;
    border-bottom: black solid 1px;
    color: #EBEBEB;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    margin: 10px;
}

.phone-time{
    font-size: 24px;
}

.searchbar p{
    margin: 0;
    padding: 0;
}
.searchbar input{
    margin-right: 10px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menu a{
    color: #EBEBEB;
    font-size: 24px;
    text-decoration: none;
}




.content{
    font-size: 24px;
    margin-bottom: 30%;
}




.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* width: 100%; */

    background: #909090;
    border-top: black solid 1px;
    color: #EBEBEB;

    margin-top: 20px;
}

.footer .phone-time{
    font-size: 14px;
}

.footer a{
    color: #EBEBEB;
    text-decoration: none;
}