.debug{
    border: red dashed 2px;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(6, 187, 187);
}

/* header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background: rgb(8, 173, 173);
    border-bottom: 1px solid rgb(20, 158, 158);
}

.header-text{
    margin: 0;
}

/* reg */
.reg{
    margin-top: 200px;
}

.inpbox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 21px;
    margin-top: 20px;
    /* margin-right: 50%; */
}

.reg-text{
    width: 70px;
}